{#
/**
 * @file document_type.html.twig
 * Default theme implementation to present Document type data.
 *
 * This template is used when viewing Document type pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_document_type()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('document_type') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
