<div class="row">
    <div class="col-xs-12 text-center">
        <h2>{{ data.titulo_documento }}</h2>
    </div>
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
        <iframe frameborder="0" scrolling="no" src="{{ data.url_documento }}" width="100%" height="320px"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <ul>
            <li><strong>Documento enviado por:</strong> {{ data.usuario_enviado }}</li>
            <li><strong>Fecha de envío: </strong> {{ data.fecha_creado }}</li>
        </ul>
        {{ form_eliminar }}
    </div>
    <div class="col-xs-12 col-sm-4">
        <ul>
            <li><strong>Documento autorizado por:</strong> {{ data.usuario_autorizado }}</li>
            <li><strong>Fecha de autorización: </strong> {{ data.fecha_autorizado }}</li>
        </ul>
        {{ form_autorizacion }}
    </div>
    <div class="col-xs-12 col-sm-4">
        <ul>
            <li><strong>Documento revisado por:</strong> {{ data.usuario_revisado }}</li>
            <li><strong>Fecha de revisión: </strong> {{ data.fecha_revisado }}</li>
        </ul>
        {{ form_revision }}
    </div>
</div>