{#
/**
 * @file document_state_entity.html.twig
 * Default theme implementation to present Document State data.
 *
 * This template is used when viewing Document State pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_document_state_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('document_state_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
